<div class="card" (click)="addToCart(product)"
  *ngIf="product.title"
  style="width: 10rem; border: none; margin: 1.1%; cursor: pointer;">
  <img class="card-img-top"
       style="align-self: center;"
    [src]="product.imageUrl"
    *ngIf="product.imageUrl"
    [alt]="product.title">
  <div class="card-body">
    <h4 class="card-title" style="font-size: 70%;">
      {{product.title}}
    </h4>
      <p class="card-text" style="font-size: 50%;">
        {{product.price | currency: 'USD'}}
      </p>
  </div>
</div>
