<div class="row justify-content-lg-center">
  <div class="col-lg">

    <form #f="ngForm"
      (submit)="save(f.value)">

      <div class="form-group">

        <label for="title">
          Title
        </label>

        <input type="text"
          #title="ngModel"
          [(ngModel)]="product.title"
          name="title"
          class="form-control"
          id="title"
          required>

        <div class="alert alert-danger"
          *ngIf="title.touched && title.invalid">
          Title is required.
        </div>

      </div>

      <div class="form-group">

        <label for="price">
          Price
        </label>

        <div class="input-group">

          <div class="input-group-addon">
            <i class="fa fa-dollar"></i>
          </div>

          <input type="number"
            [(ngModel)]="product.price"
            required
            #price="ngModel"
            name="price"
            [min]="0"
            class="form-control"
            id="price">

        </div>

        <div class="alert alert-danger"
          *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">
            Price is required.
          </div>
          <div *ngIf="price.errors.min">
            Price should be 0 or higher.
          </div>
        </div>

      </div>

      <div class="form-group">

        <label for="category">
          Category
        </label>

        <select id="category"
          [(ngModel)]="product.category"
          required
          #category="ngModel"
          name="category"
          class="form-control">

          <option *ngFor="let c of categories | async"
            [value]="c.key">
            {{c.name}}
          </option>

        </select>

        <div class="alert alert-danger"
          *ngIf="category.touched && category.invalid">
          Category is required.
        </div>

      </div>

      <div class="form-group">

        <label for="imageUrl">
          Image Url
        </label>

        <input id="imageUrl"
          type="text"
          name="imageUrl"
          [(ngModel)]="product.imageUrl"
          required
          url
          #imageUrl="ngModel"
          class="form-control">

        <div class="alert alert-danger"
          *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors.required">
            Image url id required.
          </div>
          <div *ngIf="imageUrl.errors.url">
            Please enter a valid URL
          </div>
        </div>

      </div>

      <button class="btn btn-outline-primary"
        [disabled]="f.form.invalid">
        Save
      </button>

      <button type="button"
        class="btn btn-outline-danger"
        (click)="delete()">
        Delete
      </button>

    </form>

  </div>

  <div class="col-lg">
    <app-product-card [product]="product" [show-actions]="false"></app-product-card>
  </div>
</div>
