<app-navbar></app-navbar>
<main role="main"
      class="container">
  <router-outlet></router-outlet>
</main>

<!--<div class="footer">-->
  <!--<div class="flex-container-row">-->
    <!--<div class="list-item"> Paste © 2018 </div>-->
    <!--<div class="list-item">-->
      <!--&lt;!&ndash;<a href="#" class="dono-btn"><i class="fa fa-btc"></i></a> /&ndash;&gt;-->
      <!--&lt;!&ndash;<a href="https://www.paypal.me/walmat" class="dono-btn"><i class="fa fa-cc-paypal"></i></a> </div>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
