main {
  padding-top: 3rem;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 1.8%;
}

.flex-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dono-btn {
  text-decoration: none;
  color: #000;
}
.dono-btn:hover {
  color: #3B3B3B;
}