<p>
  <a routerLink="/admin/products/new"
    class="btn btn-primary">
    New Product
  </a>
</p>
<p>
  <input type="text"
    #query
    class="form-control"
    placeholder="Search..."
    (keyup)="filter(query.value)">
</p>

<table class="table w-100">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{p.title}}</td>
      <td>{{p.price | currency: 'USD'}}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]"
          class="btn btn-sm btn-otline-dark">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="mx-auto">
  <ngb-pagination (pageChange)="changePage($event)"
    [collectionSize]="numberOfProducts"
    [(page)]="page"
    aria-label="Default pagination">
  </ngb-pagination>
</div>